{% include 'public_header.html' %}
<div style=" background:url('/static/images/fly.jpg') ; height: 300px; width: 100%; background-size: cover;"  >
	</div>

	<center>
<form method="post">
	<h2>Forgot Password</h2>
	<table class="table table-borderless" style="width: 500px;">
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" value="" required></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="email" value="" required></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-outline-info" value="Confirm" ></td>
		</tr>
	</table>
</form>
</center>

<br><br><br><br><br><br><br>
{% include 'footer.html' %}