{% include 'provider_header.html' %}
<div style=" background:url('/static/images/fly1.jpg') ; height: 300px; width: 100%; background-size: cover;"  >
	</div>
<center>
<form method="post">
	<h2>Recommendations</h2>
	<table class="table table-striped table-hover" style="width: 1200px; background: wheat;">	
		<tr>
			<th>#</th>
			
			<th>Username</th>
			
			<th>Place</th>
			<th>Description</th>
			<th>NO.Of.people</th>
			<th>Mode of Travelling</th>
			<th>Affordable Prize</th>
			<!-- <th>MODIFIED PRICE</th> -->
			<th>STATUS</th>
			<th></th><th></th>
		</tr>
		{% for i in data['view'] %}
		<tr>
		<td>{{loop.index}}</td>
		<td>{{i['first_name']}} {{i['last_name']}}</td>
		<td>{{i['port_place']}}</td>
		<td>{{i['port_desc']}}</td>
		<td>{{i['port_people']}}</td>
		<td>{{i['mode_of_travel']}}</td>
		<td>{{i['port_price']}}</td>
		<!-- <td>{{i['modified_price']}}</td> -->
		<td>{{i['status']}}</td>
	

		
		{% if i ['status']=='pending' %}

		<td><a  href="?action=accept&log_id={{i['portal_id']}}">Accept</a></td>
		<!-- <td><a href="?action=reject&log_id={{i['portal_id']}}">Reject</a></td> -->
		<td><a href="provider_modify_portal?log_id={{i['portal_id']}}">Modify</a></td>
		{% endif %}
		<td><a href="pro_portal_booking?id={{i['portal_id']}}">Bookings</a></td>
		</tr>
		
		{% endfor %}

	</table>
</form>
</center>
{% include 'footer.html' %}